doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='description', content='')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(property='og:image', content='path/to/image.jpg')
		link(rel='shortcut icon', href='img/favicon/favicon.png', type='image/x-icon')
		link(rel='apple-touch-icon', href='img/favicon/favicon.png')
		link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/favicon72.png')
		link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/favicon114.png')
		// Chrome, Firefox OS and Opera
		meta(name='theme-color', content='#fff')
		// Windows Phone
		meta(name='msapplication-navbutton-color', content='#fff')
		// iOS Safari
		meta(name='apple-mobile-web-app-status-bar-style', content='#fff')
		title Ремонт квартир и домов!
		link(rel='stylesheet', href='css/libs.min.css')
		link(rel='stylesheet', href='css/main.css')
	body
		.parallax-window(data-parallax="scroll", data-image-src="img/body-bg.jpg")
			header.site-header
				nav.mobile
					.container
						.table
							.table-cell
								.nav-button.visible-sm.visible-xs
									.nav-hr
									.nav-hr
						ul
							li
								a(href="#top") Главная
							li
								a(href="#repairs") Услуги
							li
								a(href="#prices") Цены
							li
								a(href="#portfolio") Портфолио
							li
								a(href="#contacts") Контакты
						.phone.visible-xs
							.row
								.col-xs-6
									.phone-number
										i.fa.fa-phone
										a.popup-with-form.hidden-xs.hidden-sm(href="#test-form") 8 (905) 621-75-76
										a.hidden-md.hidden-lg(href="tel:+79056217576") 8 (905) 621-75-76
									.work-time Работаем с 8:00 до 20:00
								.col-xs-6					
									a.btn.popup-with-form.zakazat-zvonok(href="#test-form") Заказать звонок
				.header-bg
					.navigation.default
						.container
							.row
								.col-xs-6.col-sm-4.col-md-3
									.table-cell
										.logo
											img(src="img/logo.png", alt="")
										.logo.fixed
											img(src="img/logo_black.png", alt="")
								.col-xs-6.col-sm-4.col-md-6
									.table
										.table-cell
											nav
												.nav-button.visible-sm.visible-xs
													.nav-hr
													.nav-hr
													.nav-hr
												ul.hidden-xs.hidden-sm
													li
														a(href="#top") Главная
													li
														a(href="#repairs") Услуги
													li
														a(href="#prices") Цены
													li
														a(href="#portfolio") Портфолио
													li
														a(href="#contacts") Контакты
								.col-sm-4.col-md-3.hidden-xs
									.table-cell
										.phone
											.phone-number
												i.fa.fa-phone
												a.popup-with-form.hidden-xs.hidden-sm(href="#test-form") 8 (905) 621-75-76
												a.hidden-md.hidden-lg(href="tel:+79056217576") 8 (905) 621-75-76
											.work-time Работаем с 8:00 до 20:00
											a.btn.popup-with-form.zakazat-zvonok(href="#test-form") Заказать звонок
					.navigation.fixed
						.container
							.row
								.col-xs-6.col-sm-4.col-md-3
									.table-cell
										.logo
											img(src="img/logo.png", alt="")
										.logo.fixed
											img(src="img/logo_black.png", alt="")
								.col-xs-6.col-sm-4.col-md-6
									.table
										.table-cell
											nav
												.nav-button.visible-sm.visible-xs
													.nav-hr
													.nav-hr
													.nav-hr
												ul.hidden-xs.hidden-sm
													li
														a(href="#top") Главная
													li
														a(href="#repairs") Услуги
													li
														a(href="#prices") Цены
													li
														a(href="#portfolio") Портфолио
													li
														a(href="#contacts") Контакты
								.col-sm-4.col-md-3.hidden-xs
									.table-cell
										.phone
											.phone-number
												i.fa.fa-phone
												a.popup-with-form.hidden-xs.hidden-sm(href="#test-form") 8 (905) 621-75-76
												a.hidden-md.hidden-lg(href="tel:+79056217576") 8 (905) 621-75-76
											.work-time Работаем с 8:00 до 20:00
											a.btn.popup-with-form.zakazat-zvonok(href="#test-form") Заказать звонок
					.container
						h1.text-center Профессиональный ремонт
							br
							span квартир и частных домов по Туле и области
						.text-center
							img.line(src="img/line.png", alt="")
							br
							p.one Реализуем комфортный и практичный интерьер за 10* недель 
								br.hidden-xs
								| c неизменной ценой и пожизненным сервисным 
								br.hidden-xs
								| обслуживанием
							p.two *Средняя продолжительность ремонта в квартире 67 м²
							.btn-box
								a.btn.popup-with-form.uznat-cenu(href="#test-form") Узнать точную цену
							.vniz
								a.scroll-link(href="#repairs")
									img(src="img/vniz.png", alt="")
				.bottom-grey-r
			section.repairs#repairs
				.container
					h2 Ремонт и дизайн
						br
						span в одной компании
					.text-center
						img.line(src="img/line.png", alt="")
					nav.hidden-xs
						.col-sm-4
							a.btn.active(href="#one") Комплексный ремонт
						.col-sm-4
							a.btn(href="#two") Дизайнерский ремонт
						.col-sm-4
							a.btn(href="#three") Частичный ремонт
						.clearfix
					.owl-carousel
						.block.one(data-hash="one")
							.row.hidden-xs
								.col-sm-2.visible-sm
								.col-sm-8.col-md-12
									.img
										img(src="img/kompleksny-remont.jpg", alt="")
								.col-sm-2.visible-sm
							.row
								.col-md-4.hidden-sm
								.col-sm-12.col-md-8
									.box
										.row
											.col-sm-2.visible-sm
											.col-sm-8.col-md-12
												h3 Комплексный ремонт
												p Благодаря тому, что у нас содержатся узкоспециализированные рабочие, Вы можете выполнить все необходимые виды работ в одной компании, которая будет отвечать за свое качество
												h4 В данный вид услуги входят:
												ul
													li Демонтажные работы
													li Общестроительные работы
													li Электромонтажные работы
													li Сантехнические работы
													li Отделочные работы
													li Монтаж дверей
													li Монтаж любых видов полов и потолков
													li Уборка помещения
												.btn-box
													a.btn.popup-with-form.uznat-podrobnee(href="#test-form") Узнать подробнее
											.col-sm-2.visible-sm
						.block.two(data-hash="two")
							.row.hidden-xs
								.col-sm-2.visible-sm
								.col-sm-8.col-md-12
									.img
										img(src="img/design-repair.jpg", alt="")
								.col-sm-2.visible-sm
							.row
								.col-md-4.hidden-sm
								.col-sm-12.col-md-8
									.box
										.row
											.col-sm-2.visible-sm
											.col-sm-8.col-md-12
												h3 Дизайнерский ремонт
												p Ремонт с разработкой функционального дизайн-проекта позволяет глобально проработать зонирование каждой комнаты, учесть все нюансы и образ жизни клиента, создать комфортное и эстетичное помещение где все будет на своих местах
												h4 В данный вид услуги входят:
												ul
													li Скандинавский
													li Светлый и темный лофт
													li Современный
													li Минимализм
													li Классика
													li Хай-тек
													li Смешанный
												.btn-box
													a.btn.popup-with-form.uznat-podrobnee(href="#test-form") Узнать подробнее
											.col-sm-2.visible-sm
						.block.three(data-hash="three")
							.row.hidden-xs
								.col-sm-2.visible-sm
								.col-sm-8.col-md-12
									.img
										img(src="img/chast-repair.jpg", alt="")
								.col-sm-2.visible-sm
							.row
								.col-md-4.hidden-sm
								.col-sm-12.col-md-8
									.box
										.row
											.col-sm-2.visible-sm
											.col-sm-8.col-md-12
												h3 Частичный ремонт
												p Возможно выполнение ремонта в одной из комнат или выполнение отдельных видов услуг, перечисленных выше. Минимальная сумма заказа составляет 20 тыс. рублей
												h4 В данный вид услуги могут входить:
												ul
													li Демонтажные работы
													li Общестроительные работы
													li Электромонтажные работы
													li Сантехнические работы
													li Отделочные работы
													li Монтаж дверей
													li Монтаж любых видов полов и потолков
													li Уборка помещения
												.btn-box
													a.btn.popup-with-form.uznat-podrobnee(href="#test-form") Узнать подробнее
											.col-sm-2.visible-sm
			section.benefits#benefits
				.container
					h2 Ваши выгоды
						br
						span при работе с нами
					.text-center
						img.line(src="img/line.png", alt="")
					hr
					.text-center
						h3 Забота и любовь:
						.row
							.col-sm-6.col-md-4
								figure
									svg(version='1.1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 295.822 295.822', xmlns:xlink='http://www.w3.org/1999/xlink', enable-background='new 0 0 295.822 295.822')
										g
											g
												path(d='m105.278,240.136c0,5.22 3.48,8.701 8.701,8.701h67.865c5.22,0 8.701-3.48 8.701-8.701 0-5.22-3.48-8.701-8.701-8.701h-67.865c-5.22,0.001-8.701,3.481-8.701,8.701z')
												path(d='m235.787,64.385h5.22c12.181,0 20.882-10.441 20.882-20.882v-22.621c0-12.181-10.441-20.882-20.882-20.882h-186.193c-12.181,0-20.881,10.441-20.881,20.882v22.621c0,12.181 10.441,20.882 20.882,20.882h5.22c5.22,31.322 26.102,59.164 41.763,80.046l1.74,3.48-1.74,3.48c-15.661,20.882-36.543,48.723-41.763,80.046h-5.22c-12.181,0-20.882,10.441-20.882,20.882v22.621c0,12.181 10.441,20.882 20.882,20.882h186.193c12.181,0 20.882-8.701 20.882-20.882v-22.621c0-12.181-10.441-20.882-20.882-20.882h-5.22c-5.22-31.322-26.102-59.164-41.763-80.046l-1.74-3.48 1.74-3.48c15.66-20.882 36.542-48.724 41.762-80.046zm-59.164,87.006l6.96,8.701c13.921,20.882 36.543,48.723 38.283,80.046 0,5.22 3.48,8.701 8.701,8.701h12.181c1.74,0 3.48,1.74 3.48,3.48v22.621c0,1.74-1.74,3.48-3.48,3.48h-186.193c-1.74,0-3.48-1.74-3.48-3.48v-22.621c0-1.74 1.74-3.48 3.48-3.48h12.181c5.22,0 8.701-3.48 8.701-8.701 1.74-31.322 22.621-59.164 38.283-80.046l6.96-8.701c1.74-3.48 1.74-6.96 0-10.441l-6.96-8.701c-13.921-20.882-36.543-48.723-38.283-80.046 0-5.22-3.48-8.701-8.701-8.701h-12.181c-1.74,0-3.48-1.74-3.48-3.48v-22.621c0-1.74 1.74-3.48 3.48-3.48h186.193c1.74,0 3.48,1.74 3.48,3.48v22.621c0,1.74-1.74,3.48-3.48,3.48h-12.181c-5.22,0-8.701,3.48-8.701,8.701-1.74,31.322-22.621,59.164-38.283,80.046l-6.96,8.701c-1.74,3.48-1.74,6.96-2.84217e-14,10.441z')
									h4 Минимум затрат Вашего 
										br.hidden-md
										| времени
									p Вам не нужно брать отпуск, Вы 
										br.hidden-md
										| можете зарабатывать деньги пока у 
										br.hidden-md
										| Вас идет ремонт, все остальное мы 
										br.hidden-md
										| решим сами
							.col-sm-6.col-md-4
								figure
									svg(version='1.1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 293.457 293.457', xmlns:xlink='http://www.w3.org/1999/xlink', enable-background='new 0 0 293.457 293.457')
										g
											path(d='m272.017,72.462l-29.582-14.791v-32.193c0-15.661-17.401-29.582-33.062-24.362l-161.831,46.984c-19.142,5.22-31.322,22.622-31.322,41.763v34.802c0,19.141 12.181,36.543 31.322,41.763l9.814,2.854 28.468,117.214c1.74,3.48 5.22,6.96 8.701,6.96h1.74c5.22-1.74 8.701-5.22 6.96-10.441l-26.241-108.043 132.388,38.44c1.74,1.74 5.22,1.74 6.96,1.74 6.96,0 13.921-1.74 19.141-8.701 3.48-5.22 6.96-12.181 6.96-19.141v-33.933l29.582-14.791c3.48,0 5.22-3.48 5.22-6.96v-52.204c0.003-1.74-1.738-5.22-5.218-6.96zm-46.983,114.848c0,3.48 0,5.22-1.74,6.96-1.74,1.74-5.22,1.74-8.701,1.74l-161.831-46.983c-12.181-1.74-19.141-12.181-19.141-24.362v-34.802c0-10.441 8.701-20.882 19.141-24.362l161.831-46.983h1.74c5.22,0 8.701,3.48 8.701,8.701v160.091zm34.802-60.904l-17.401,8.701v-59.165l17.401,8.701v41.763z')
									h4 Нас советуют друзьям и 
										br.hidden-md
										| знакомым
									p По статистике 67% клиентов пришли к нам 
										br.hidden-md
										| по советам знакомых, мы сделаем все 
										br.hidden-md
										| возможное, чтобы Вы тоже советовали 
										br.hidden-md
										| нас своим знакомым
							.clearfix.visible-sm
							.col-sm-6.col-md-4.free
								figure
									svg(version='1.1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 295.82 295.82', xmlns:xlink='http://www.w3.org/1999/xlink', enable-background='new 0 0 295.82 295.82')
										g
											g
												path(d='m261.018,113.108c0-2.958-1.201-5.255-3.132-6.787-1.01-1.914-2.193-3.759-3.828-5.394l-93.967-93.966c-1.444-0.974-3.063-1.914-4.733-2.802-1.427-2.54-4.002-4.159-7.448-4.159-1.01,0-1.897,0.244-2.749,0.487-1.392-0.261-2.802-0.487-4.211-0.487h-62.645c-24.361,0-43.503,19.141-43.503,43.503v208.814c0,24.362 19.141,43.503 43.503,43.503h139.21c24.362,0 43.503-19.141 43.503-43.503v-132.249c0-1.688-0.122-3.358-0.348-5.011 0.139-0.643 0.348-1.235 0.348-1.949zm-27.842-8.7h-50.463c-13.921,0-26.102-12.181-26.102-26.102v-50.463l76.565,76.565zm-15.661,174.012h-139.21c-13.921,0-26.102-12.181-26.102-26.102v-208.814c0-13.921 12.181-26.102 26.102-26.102h60.904v60.904c0,24.362 19.141,43.503 43.503,43.503h60.904v130.509c0.001,13.921-12.18,26.102-26.101,26.102z')
												path(d='m184.453,165.312l-46.983,46.983c0,1.74-1.74,1.74-3.48,1.74 0,0-1.74,0-3.48-1.74l-19.141-19.141c-3.48-3.48-8.701-3.48-12.181,0s-3.48,8.701 0,12.181l19.141,19.141c3.48,5.22 8.701,6.96 15.661,6.96 6.96,0 12.181-3.48 15.661-6.96l46.983-46.983c3.48-3.48 3.48-8.701 0-12.181s-8.701-3.48-12.181,0z')
									h4 Пожизненное сервисное 
										br.hidden-md
										| обслуживание
									p Выдаем гарантийный сертификат на 3 года, 
										br.hidden-md
										| а так же предоставляем пожизненное 
										br.hidden-md
										| сервисное обслуживание после 
										br.hidden-md
										| выполнения работ

					hr.two
					.text-center
						h3 Внимание к мелочам и пунктуальность:
						.row
							.col-sm-6.col-md-4
								figure
									svg(version='1.1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 295.82 295.82', xmlns:xlink='http://www.w3.org/1999/xlink', enable-background='new 0 0 295.82 295.82')
										g
											g
												path(d='m154.871,69.605c-10.441-3.48-22.621,0-31.322,6.96-8.701,6.96-13.921,17.401-13.921,29.582 0,5.22 3.48,8.701 8.701,8.701 5.22,0 8.701-3.48 8.701-8.701 0-5.22 1.74-12.181 6.96-15.661 5.22-3.48 10.441-5.22 17.401-3.48 8.701,1.74 13.921,8.701 15.661,15.661 1.74,8.701 0,15.661-6.96,20.882-13.921,10.441-20.882,26.102-20.882,41.763 0,5.22 3.48,8.701 8.701,8.701 5.22,0 8.701-3.48 6.96-8.701 0-10.441 6.96-20.882 15.661-27.842 12.181-10.441 17.401-24.362 13.921-38.283-3.481-15.661-15.661-26.102-29.582-29.582z')
												path(d='m140.95,210.555c-1.74,1.74-1.74,5.22-1.74,6.96 0,1.74 0,3.48 1.74,5.22 1.74,1.74 5.22,3.48 6.96,3.48 1.74,0 5.22-1.74 5.22-3.48 1.74,0 3.48-3.48 3.48-5.22 0-3.48-1.74-5.22-3.48-6.96-3.48-3.481-8.7-3.481-12.18,0z')
												path(d='M147.91,0C66.124,0,0,66.124,0,147.91s66.124,147.91,147.91,147.91s147.91-66.124,147.91-147.91S229.696,0,147.91,0z     M147.91,278.419c-71.345,0-130.509-59.164-130.509-130.509S76.565,17.401,147.91,17.401S278.419,76.565,278.419,147.91    S219.255,278.419,147.91,278.419z')
									h4 30 вопросов для 
										br.hidden-md
										| технического задания
									p Перед началом работ Вам предстоит 
										br.hidden-md
										| ответить на более чем 30 вопросов, это 
										br.hidden-md
										| поможет выявить все Ваши пожелания и 
										br.hidden-md
										| выполнить работы строго следуя им
							.col-sm-6.col-md-4
								figure
									svg(version='1.1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 213.166 213.166', xmlns:xlink='http://www.w3.org/1999/xlink', enable-background='new 0 0 213.166 213.166')
										g
											g
												path(d='m86.137,28.712h118.328c5.22,0 8.701-3.48 8.701-8.701s-3.48-8.701-8.701-8.701h-118.328c-5.22,0-8.701,3.48-8.701,8.701 0,5.221 3.48,8.701 8.701,8.701z')
												path(d='m204.465,98.317h-118.328c-5.22,0-8.701,3.48-8.701,8.701 0,5.22 3.48,8.701 8.701,8.701h118.328c5.22,0 8.701-3.48 8.701-8.701 0-5.22-3.481-8.701-8.701-8.701z')
												path(d='m204.465,185.323h-118.328c-5.22,0-8.701,3.48-8.701,8.701s3.48,8.701 8.701,8.701h118.328c5.22,0 8.701-3.48 8.701-8.701s-3.481-8.701-8.701-8.701z')
												path(d='m30.453,4.351l-12.181,13.921-3.48-3.48c-3.48-3.48-8.701-3.48-12.181,0s-3.48,8.701 0,12.181l6.96,6.96c3.48,1.74 6.96,3.48 10.441,3.48s6.96-1.74 6.96-5.22l15.661-15.661c3.48-3.48 3.48-8.701 0-12.181s-8.7-3.481-12.18,2.66454e-15z')
												path(d='m30.453,91.357l-12.181,13.921-3.48-3.48c-3.48-3.48-8.701-3.48-12.181,0s-3.48,8.701 0,12.181l6.96,6.96c3.48,1.74 6.96,3.48 10.441,3.48s6.96-1.74 6.96-5.22l15.661-15.661c3.48-3.48 3.48-8.701 0-12.181s-8.7-3.481-12.18,1.42109e-14z')
												path(d='m30.453,178.363l-12.181,13.921-3.48-3.48c-3.48-3.48-8.701-3.48-12.181,0s-3.48,8.701 0,12.181l6.96,6.96c3.48,1.74 6.96,3.48 10.441,3.48s6.96-1.74 6.96-5.22l15.661-15.661c3.48-3.48 3.48-8.701 0-12.181s-8.7-3.481-12.18,0z')
									h4 Жесткие критерии отбора 
										br.hidden-md
										| персонала
									p Из 100 желающих Мы принимаем на 
										br.hidden-md
										| работу около 4-5 профессионалов. Наш 
										br.hidden-md
										| отбор - Ваша гарантия качественно 
										br.hidden-md
										| выполненного ремонта
							.clearfix.visible-sm
							.col-sm-6.col-md-4.free
								figure
									svg(version='1.1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 278.419 278.419', xmlns:xlink='http://www.w3.org/1999/xlink', enable-background='new 0 0 278.419 278.419')
										g
											g
												path(d='m234.916,26.102h-34.802v-8.701c0-5.22-3.48-8.701-8.701-8.701s-8.701,3.48-8.701,8.701v8.701h-87.005v-8.701c0-5.22-3.48-8.701-8.701-8.701-5.22,0-8.701,3.48-8.701,8.701v8.701h-34.802c-24.362,0-43.503,19.141-43.503,43.503v156.611c0,24.362 19.141,43.503 43.503,43.503h191.413c24.362,0 43.503-19.141 43.503-43.503v-156.611c0-24.362-19.141-43.503-43.503-43.503zm-217.515,43.503c-1.06581e-14-13.921 12.181-26.102 26.102-26.102h34.802v8.701c0,5.22 3.48,8.701 8.701,8.701 5.22,0 8.701-3.48 8.701-8.701v-8.701h87.006v8.701c0,5.22 3.48,8.701 8.701,8.701s8.701-3.48 8.701-8.701v-8.701h34.802c13.921,0 26.102,12.181 26.102,26.102v26.102h-243.618v-26.102zm243.617,156.611c0,13.921-12.181,26.102-26.102,26.102h-191.413c-13.921,0-26.102-12.181-26.102-26.102v-113.108h243.617v113.108z')
												path(d='m60.904,226.216c5.22,0 8.701-1.74 12.181-5.22 3.48-3.48 5.22-8.701 5.22-12.181s-1.74-8.701-5.22-12.181c-6.96-6.96-17.401-6.96-24.362,0-3.48,3.48-5.22,6.96-5.22,12.181 0,3.48 1.74,8.701 5.22,12.181s6.961,5.22 12.181,5.22z')
												path(d='m60.904,174.012c5.22,0 8.701-1.74 12.181-5.22s5.22-8.701 5.22-12.181-1.74-8.701-5.22-12.181c-6.96-6.96-17.401-6.96-24.362,0-3.48,3.48-5.22,6.96-5.22,12.181 0,5.221 1.74,8.701 5.22,12.181s6.961,5.22 12.181,5.22z')
												path(d='m113.108,226.216c5.22,0 8.701-1.74 12.181-5.22 3.48-3.48 5.22-8.701 5.22-12.181s-1.74-8.701-5.22-12.181c-6.96-6.96-17.401-6.96-24.362,0-3.48,3.48-5.22,8.701-5.22,12.181s1.74,8.701 5.22,12.181c3.48,3.48 6.961,5.22 12.181,5.22z')
												path(d='m113.108,174.012c5.22,0 8.701-1.74 12.181-5.22 3.48-3.48 5.22-8.701 5.22-12.181s-1.74-8.701-5.22-12.181c-6.96-6.96-17.401-6.96-24.362,0-3.48,3.48-5.22,8.701-5.22,12.181s1.74,8.701 5.22,12.181c3.48,3.48 6.961,5.22 12.181,5.22z')
												path(d='m165.311,226.216c5.22,0 8.701-1.74 12.181-5.22 3.48-3.48 5.22-6.96 5.22-12.181 0-5.221-1.74-8.701-5.22-12.181-6.96-6.96-17.401-6.96-24.362,0-3.48,3.48-5.22,8.701-5.22,12.181s1.74,8.701 5.22,12.181 6.961,5.22 12.181,5.22z')
												path(d='m165.311,174.012c5.22,0 8.701-1.74 12.181-5.22s5.22-6.96 5.22-12.181c0-3.48-1.74-8.701-5.22-12.181-6.96-6.96-17.401-6.96-24.362,0-3.48,3.48-5.22,8.701-5.22,12.181s1.74,8.701 5.22,12.181 6.961,5.22 12.181,5.22z')
												path(d='m217.515,226.216c5.22,0 8.701-1.74 12.181-5.22 3.48-3.48 5.22-8.701 5.22-12.181s-1.74-8.701-5.22-12.181c-6.96-6.96-17.401-6.96-24.362,0-3.48,3.48-5.22,6.96-5.22,12.181 0,3.48 1.74,8.701 5.22,12.181 3.48,3.48 6.961,5.22 12.181,5.22z')
												path(d='m217.515,174.012c5.22,0 8.701-1.74 12.181-5.22s5.22-6.96 5.22-12.181c0-3.48-1.74-8.701-5.22-12.181-6.96-6.96-17.401-6.96-24.362,0-3.48,3.48-5.22,8.701-5.22,12.181s1.74,8.701 5.22,12.181c3.48,3.48 6.961,5.22 12.181,5.22z')
									h4 Не больше 10 недель 
										br.hidden-md
										| иначе штраф
									p Прописанные стандарты и регламент 
										br.hidden-md
										| работ позволяет определить точные сроки 
										br.hidden-md
										| выполнения ремонта. Каждый день 
										br.hidden-md
										| просрочки - скидка 1% от стоимости
			.top-grey
			section.prices
				.block-trans
					.container
						h2#prices Наши цены
							br
							span порадуют Вас
						.text-center
							img.line(src="img/line.png", alt="")
						.row
							.col-md-6
								figure
									svg(version='1.1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 294.08 294.08', xmlns:xlink='http://www.w3.org/1999/xlink', enable-background='new 0 0 294.08 294.08')
										g
											g
												path(d='M274.939,0H170.532c-5.22,0-10.441,1.74-13.921,5.22L5.22,156.611C1.74,160.091,0,165.311,0,170.532    c0,5.22,1.74,10.441,5.22,13.921L109.627,288.86c3.48,3.48,8.701,5.22,13.921,5.22c3.48,0,8.701-1.74,13.921-5.22L288.86,137.469    c3.48-3.48,5.22-8.701,5.22-13.921V19.141C294.08,8.701,285.38,0,274.939,0z M274.939,127.029L123.548,278.419h-1.74    L15.66,172.272c0-1.74,0-3.48,0-3.48l153.13-153.13v3.48h104.407c1.74,0,1.74,0,1.74,1.74L274.939,127.029L274.939,127.029z')
												path(d='m212.295,55.684c-6.96,6.96-6.96,17.401 0,24.362 3.48,3.48 6.96,5.22 12.181,5.22 5.22,0 8.701-1.74 12.181-5.22 6.96-6.96 6.96-17.401 0-24.362-6.961-6.961-17.402-6.961-24.362,0z')
									h3 Точная единая цена
									.hr
									p Благодаря тому, что у нас фиксированный прайс-лист Вы 
										br.visible-lg
										| всегда можете проверить правильность составления сметы, 
										br.visible-lg
										| а подписание договора гарантирует неизменность цены во 
										br.visible-lg
										| время ремонта
								figure.two
									svg(version='1.1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 313.222 313.222', xmlns:xlink='http://www.w3.org/1999/xlink', enable-background='new 0 0 313.222 313.222')
										g
											g
												path(d='m121.808,234.916c24.362,0 43.503-19.141 43.503-43.503s-19.141-43.503-43.503-43.503-43.503,19.141-43.503,43.503 19.142,43.503 43.503,43.503zm0-69.605c13.921,0 26.102,12.181 26.102,26.102 0,13.921-12.181,26.102-26.102,26.102s-26.102-12.181-26.102-26.102c0.001-13.92 12.182-26.102 26.102-26.102z')
												path(d='m304.521,52.204h-226.216c-5.22,0-8.701,3.48-8.701,8.701v26.102h-26.101c-5.22,0-8.701,3.48-8.701,8.701v26.102h-26.101c-5.22,0-8.701,3.48-8.701,8.701v121.808c0,5.22 3.48,8.701 8.701,8.701h226.216c5.22,0 8.701-3.48 8.701-8.701v-26.102h26.102c5.22,0 8.701-3.48 8.701-8.701v-26.102h26.102c5.22,0 8.701-3.48 8.701-8.701v-121.809c-0.002-5.22-3.483-8.7-8.703-8.7zm-78.305,191.413h-208.815v-104.407h208.814v104.407zm34.803-34.803h-17.401v-78.305c0-5.22-3.48-8.701-8.701-8.701h-182.712v-17.401h208.814v104.407zm34.802-34.802h-17.401v-78.305c0-5.22-3.48-8.701-8.701-8.701h-182.712v-17.401h208.814v104.407z')
									h3 Не хватает на ремонт?
									.hr
									p Мы добились самых лучших условий для выдачи кредита на 
										br.visible-lg
										| ремонт от ведущих банков страны: Сбербанк, ВТБ 24, 
										br.visible-lg
										| Газпромбанк и Альфа-Банк
							.col-md-6
								figure
									svg(version='1.1', xmlns='http://www.w3.org/2000/svg', viewbox='0 0 295.82 295.82', xmlns:xlink='http://www.w3.org/1999/xlink', enable-background='new 0 0 295.82 295.82')
										g
											g
												path(d='M147.91,0C66.124,0,0,66.124,0,147.91s66.124,147.91,147.91,147.91s147.91-66.124,147.91-147.91S229.696,0,147.91,0z     M147.91,278.419c-71.345,0-130.509-59.164-130.509-130.509S76.565,17.401,147.91,17.401S278.419,76.565,278.419,147.91    S219.255,278.419,147.91,278.419z')
												path(d='m184.453,125.289l-46.983,46.983c0,1.74-1.74,1.74-3.48,1.74-1.74,0-1.74,0-3.48-1.74l-19.141-19.141c-3.48-3.48-8.701-3.48-12.181,0s-3.48,8.701 0,12.181l19.141,19.141c3.48,5.22 8.701,6.96 15.661,6.96 6.96,0 12.181-3.48 15.661-6.96l46.983-46.983c3.48-3.48 3.48-8.701 0-12.181-3.482-3.481-8.701-3.481-12.181,0z')
									h3 Поэтапная оплата работ
									.hr
									p Весь процесс работ разбивается на 5 этапов: подготовительный, 
										br.visible-lg
										| демонтажный, черновой, получистовой, чистовой. Оплачиваете 
										br.visible-lg
										| после подписания акта приемки-сдачи каждого этапа
								.block
									h3 Хотите узнать примерные цены?
									.btn-box
										a(href="Цены на услуги.docx").btn
											img(src="img/download.png", alt="")
											span Скачать прайс-лист
						hr
						.text-center
							p Узнать точную цену возможно только после бесплатного выезда замерщика и составления 
								br.visible-lg
								| подробного технического задания. А так же вы можете получить бесплатную консультацию 
								br.visible-lg
								| мастера оставив свои контактные данные
							.btn-box
								a.btn.popup-with-form.uznat-cenu(href="#test-form") Узнать точную цену
			.bottom-grey
			section.think-head#think-head
				.container
					h2 Думаем головой,
						br
						span делаем сердцем
					.text-center
						img.line(src="img/line.png", alt="")
					.row
						.col-sm-8.col-md-12
							.row
								.col-sm-12.col-md-6
									img(src="img/planirovki.png", alt="")
								.col-sm-12.col-md-6
									figure.right
										h3 Продуманные планировки
										.hr
										p Мы уделяем большое внимание вашим привычкам и особенностям. Зоны, мебель, выключатели, и другие детали мы распределяем по удобству движения человека в пространстве
					.row
						.col-sm-4.visible-sm
						.col-sm-8.col-md-12
							.row
								.col-sm-12.col-md-6.visible-sm.visible-xs
									img(src="img/veshi.png", alt="")
								.col-sm-12.col-md-6
									figure.left
										h3 Будет где хранить вещи
										.hr
										p Проектируем незаметные и функциональные кладовые и шкафы для хранения посуды, зимней одежды, спортинвентаря и других вещей
								.col-md-6.hidden-sm.hidden-xs
									img(src="img/veshi.png", alt="")
					.row
						.col-sm-8.col-md-12
							.row
								.col-sm-12.col-md-6
									img(src="img/materialy.png", alt="")
								.col-sm-12.col-md-6
									figure.right
										h3 Материалы и мебель, которые можно купить
										.hr
										p Мы формируем таблицу со сметой и списком магазинов, где можно купить конкретную мебель и материалы. По желанию, мы можем сами все купить и доставить
			section.portfolio
				.container
					h2#portfolio Портфолио
						br
						span с примерами работ
					.text-center
						img.line(src="img/line.png", alt="")
					.row
						.col-md-6
							figure.text-center
								img(src="img/kompleks-remont.jpg", alt="")
								h3 Комплексный ремонт квартиры
								.hr
								.adres 
									strong Адрес объекта:
									p г. Тула, Красноармейский проспект, д. 1, кв 30
								.value 
									strong Стоимость работ:
									p 
										span 247 560 
										| руб.
								.btn-box
									a.btn.popup-with-form.o-proekte(href="#test-form") Подробнее о проекте
						.col-md-6
							figure.text-center
								img(src="img/chast-remont.jpg", alt="")
								h3 Частичный ремонт частного дома
								.hr
								.adres 
									strong Адрес объекта:
									p г. Тула, Красноармейский проспект, д. 1, кв 30
								.value 
									strong Стоимость работ:
									p 
										span 247 560 
										|  руб.
								.btn-box
									a.btn.popup-with-form.o-proekte(href="#test-form") Подробнее о проекте
					.all-works
						.row
							.col-md-6
								figure.text-center
									img(src="img/kompleks-remont.jpg", alt="")
									h3 Комплексный ремонт квартиры
									.hr
									.adres 
										strong Адрес объекта:
										p г. Тула, Красноармейский проспект, д. 1, кв 30
									.value 
										strong Стоимость работ:
										p 
											span 247 560 
											| руб.
									.btn-box
										a.btn.popup-with-form.o-proekte(href="#test-form") Подробнее о проекте
							.col-md-6
								figure.text-center
									img(src="img/chast-remont.jpg", alt="")
									h3 Частичный ремонт частного дома
									.hr
									.adres 
										strong Адрес объекта:
										p г. Тула, Красноармейский проспект, д. 1, кв 30
									.value 
										strong Стоимость работ:
										p 
											span 247 560 
											|  руб.
									.btn-box
										a.btn.popup-with-form.o-proekte(href="#test-form") Подробнее о проекте
					.bolshe.text-center
						h3 Хотите увидеть больше наших проектов?
						.btn-box
							a.btn Показать больше работ
			.top-grey-l
			section.offer#offer
				.container
					h2 Специальное предложение
						br
						span получите прямо сейчас
					.text-center
						img.line(src="img/line.png", alt="")
						p Ответив на 7 вопросов, Вы поможете нашему менеджеру определить Ваши
							br
							| пожелания, а мы сделаем Вам секретный подарок
					.row
						.col-md-4.col-lg-5.hidden-sm.hidden-xs
							img.left-img(src="img/left_present.png", alt="")
						.col-md-8.col-lg-7
							.right-box
								.ellipse-box
									.ellipse.active
										span 1
									.hr
									.ellipse
										span 2
									.hr
									.ellipse
										span 3
									.hr
									.ellipse
										span 4
									.hr
									.ellipse
										span 5
									.hr
									.ellipse
										span 6
									.hr
									.ellipse
										span 7
								form
									input(type='hidden', name='project_name', value='Stredear')
									input(type='hidden', name='admin_email', value='Info@strediar.ru')
									input(type='hidden', name='form_subject', value='Заявка - Специальное предложение')
									.form
										h4 1. Где Вы хотели сделать ремонт?
										input#Choice1(type='radio', name='Где Вы хотели сделать ремонт?', value="Квартира", checked)
										label(for='Choice1') Квартира
										br
										input#Choice2(type='radio', name='Где Вы хотели сделать ремонт?', value="Частный дом")
										label(for='Choice2') Частный дом
										br
										input#Choice3.alert(type='radio', name='Где Вы хотели сделать ремонт?', value="Офис")
										label(for='Choice3') Офис
										br
										input#Choice4.alert(type='radio', name='Где Вы хотели сделать ремонт?', value="Кафе, магазины")
										label(for='Choice4') Кафе, магазины
										.btn-box
											a.btn Ответить
									.form
										h4 2. Что именно вы бы хотели сделать?
										input#Choice5(type='radio', name='Что именно вы бы хотели сделать?', value="Дизайнерский ремонт (Ремонт+Проект)", checked)
										label(for='Choice5') Дизайнерский ремонт (Ремонт+Проект)
										br
										input#Choice6(type='radio', name='Что именно вы бы хотели сделать?', value="Комплексный ремонт (Ремонт)")
										label(for='Choice6') Комплексный ремонт (Ремонт)
										br
										input#Choice7(type='radio', name='Что именно вы бы хотели сделать?', value="Функциональный дизайн-проект (Проект)")
										label(for='Choice7') Функциональный дизайн-проект (Проект)
										br
										input#Choice8(type='radio', name='Что именно вы бы хотели сделать?', value="Частичный ремонт")
										label(for='Choice8') Частичный ремонт
										.btn-box
											a.btn Ответить
									.form
										h4 3. Когда Вы желаете начать выполнение работ?
										input#Choice9(type='radio', name='Когда Вы желаете начать выполнение работ?', value="В течение недели", checked)
										label(for='Choice9') В течение недели
										br
										input#Choice10(type='radio', name='Когда Вы желаете начать выполнение работ?', value="В течение месяца")
										label(for='Choice10') В течение месяца
										br
										input#Choice11(type='radio', name='Когда Вы желаете начать выполнение работ?', value="В этом году")
										label(for='Choice11') В этом году
										br
										input#Choice12(type='radio', name='Когда Вы желаете начать выполнение работ?', value="Еще не знаю")
										label(for='Choice12') Еще не знаю
										.btn-box
											a.btn Ответить
									.form
										h4 4. Примерный бюджет на который вы рассчитываете?
										input#Choice13.alert(type='radio', name='Примерный бюджет на который вы рассчитываете?', value="до 20 тыс. руб", checked)
										label(for='Choice13') до 20 тыс. руб
										br
										input#Choice14(type='radio', name='Примерный бюджет на который вы рассчитываете?', value="от 20 до 100 тыс. руб")
										label(for='Choice14') от 20 до 100 тыс. руб
										br
										input#Choice15(type='radio', name='Примерный бюджет на который вы рассчитываете?', value="от 100 до 500 тыс. руб")
										label(for='Choice15') от 100 до 500 тыс. руб
										br
										input#Choice16(type='radio', name='Примерный бюджет на который вы рассчитываете?', value="Свыше 500 тыс. руб")
										label(for='Choice16') Свыше 500 тыс. руб
										.btn-box.cena
											a.btn Ответить
									.form
										h4 5. Где находится объект?
										input#Choice17(type='radio', name='Где находится объект?', value="г. Тула", checked)
										label(for='Choice17') г. Тула
										br
										input#Choice18(type='radio', name='Где находится объект?', value="Тульская область")
										label(for='Choice18') Тульская область
										br
										input#Choice19.alert(type='radio', name='Где находится объект?', value="Другое")
										label(for='Choice19') Другое
										.btn-box.drugoe
											a.btn Ответить
									.form
										h4 6. Кто будет производить закупку и доставку материалов?
										input#Choice20(type='radio', name='Кто будет производить закупку и доставку материалов?', value="Доставку и закупку производит компания", checked)
										label(for='Choice20') Доставку и закупку производит компания
										br
										input#Choice21(type='radio', name='Кто будет производить закупку и доставку материалов?', value="Доставку и закупку производит заказчик")
										label(for='Choice21') Доставку и закупку производит заказчик
										br
										input#Choice22(type='radio', name='Кто будет производить закупку и доставку материалов?', value="У меня уже есть материалы")
										label(for='Choice22') У меня уже есть материалы
										.btn-box
											a.btn Ответить
									.form
										h4 Отлично! Теперь заполните свои контактные данные для получения секретного подарка:
										.row
											.col-md-6
												.form-item
													input(type="text", id="name", name="Имя", required)
													label.text(for="name") Ваше имя
											.col-md-6
												.form-item
													input.phone(type="text", id="phone", name="Телефон", required)
													label.text.phone(for="phone") Ваш телефон
										.personal
											input(type="checkbox", id="personal", checked)
											label(for="personal") Согласен(а) на 
												a.popup-with-politica(href="#politica") обработку персональных данных
										.btn-box
											button.btn Отправить
			.bottom-grey-r
			section.answers#answers
				.container
					h2 Наши ответы
						br
						span на частые вопросы
					.text-center
						img.line(src="img/line.png", alt="")
					.question
						.plus
							img(src="img/plus.png", alt="")
						| Сколько будет стоить и длиться ремонт?
					.answer-box
						.answer
							p Стоимость и сроки работ зависят от ваших пожеланий. Необходимо сформулировать техническое задание в котором будут отражены все требования и пожелания для выполнения ремонта. Сделать точные замеры и составить план помещения. В итоге будет составлена смета включающая в себя все виды работ, сроки и итоговую цену. Что бы гарантировать неизменность цены в процессе ремонта мы заключаем договор. Составить грамотное техническое задание, узнать сроки и сделать замеры помещения вам поможет наш менеджер, для этого оставьте заявку или позвоните нам.
							p.link
								a.popup-with-form.zamershika(href="#test-form") Вызвать замерщика
					.question
						.plus
							img(src="img/plus.png", alt="")
						| Когда можно начать выполнение работ?
					.answer-box
						.answer
							p Если нет иных условий со стороны заказчика, выполнение работ начинается в течении 3-х дней после подписания договора. В компании имеется более 10 укомплектованных бригад, что позволяет избежать очередей на ремонт. Фактически мы можем приступить к выполнению работ в течении недели после первого звонка в компанию.
							p.link
								a.popup-with-form.zakazat-zvonok(href="#test-form") У Вас остались вопросы?
					.question
						.plus
							img(src="img/plus.png", alt="")
						| Как все будет происходить? Что необходимо для начала работ?
					.answer-box
						.answer
							p Для простоты восприятия разобьем весь процесс на этапы:
							ol
								li Звонок в компанию, заявка на выезд замерщика;
								li Составление технического задания, определение сроков и стоимости за работу;
								li Подписание договора, составление дизайн-проекта (при необходимости);
								li Подготовительные работы, закупка и доставка материалов;
								li Поэтапное выполнение и оплата работ;
								li Сдача готового объекта, выдача гарантийного сертификата;
								li Сервисное обслуживание объекта.
							p Таким образом, что бы запустить процесс, необходимо оставить заявку на выезд замерщика. 

							p.link
								a.popup-with-form.zamershika(href="#test-form") Вызвать замерщика
					.question
						.plus
							img(src="img/plus.png", alt="")
						| Качественно ли все будет? Кто выполняет работы? 
					.answer-box
						.answer
							p В основном в компании работают узкоспециализированные профессионалы, с опытом работы от 5 лет. В компании ведется жесткий отбор персонала, по этому мы можем гарантировать высочайшее качество работ. В качестве гарантии мы выдаем официальный сертификат с печатью компании, сроком на 3 года.
							p.link
								a.popup-with-form.zakazat-zvonok(href="#test-form") У Вас остались вопросы?
					.hide-question
						.question
							.plus
								img(src="img/plus.png", alt="")
							| Как будет происходить контроль за выполнением работ? 
						.answer-box
							.answer
								p Перед началом работ вам будет назначен персональный менеджер, который будет вести перед вами отчетность и полностью отвечать за ведение объекта. А так же предупреждать соседей о ведении шумных работ, следить за чистотой на объекте, помогать в снабжении объекта материалами. В любой момент вы сможете позвонить, узнать статус работ и посмотреть видео-трансляцию с объекта.
								p.link
									a.popup-with-form.zakazat-zvonok(href="#test-form") У Вас остались вопросы?
						.question
							.plus
								img(src="img/plus.png", alt="")
							| Можно сделать частичный ремонт или работать по готовому дизайн-проекту?
						.answer-box
							.answer
								p Да, мы можем взяться за частичный ремонт какой-нибудь комнаты или отдельных видов работ в случае если общая стоимость будет больше 20 тыс. рублей. Так же есть возможность заказать только дизайн-проект и выполнить работы своими руками или найти частных мастеров. Если у вас есть уже готовый дизайн-проект выполненный другой компанией или своими руками, после адаптации под наши требования мы сможем выполнить работы следуя ему.
								p.link
									a.popup-with-form.zakazat-zvonok(href="#test-form") У Вас остались вопросы?
						.question
							.plus
								img(src="img/plus.png", alt="")
							| Действительно-ли у вас пожизненное сервисное обслуживание?
						.answer-box
							.answer
								p Да. После выполнения ремонтных работ, вам предоставляется возможность пожизненного сервисного обслуживания. То есть, по истечении гарантийного срока, в случае поломки розеток, светильников, сантехнического оборудования, обоев, элементов декора и т.д. мы можем все починить даже если общая сумма ремонта не будет превышать 20 тыс. рублей. Работы выполняемые при сервисном обслуживании не являются бесплатными!
								p.link
									a.popup-with-form.zakazat-zvonok(href="#test-form") У Вас остались вопросы?
						.question
								.plus
									img(src="img/plus.png", alt="")
								| Помогаете-ли вы получить разрешение на перепланировку?
						.answer-box
							.answer
								p Да. Если есть строгая необходимость капитальных изменений в конструкции помещений, перемещении мокрых зон, переносе электросетей, мы поможем оформить все необходимые документы и предоставить их в уполномоченные инстанции.
								p.link
									a.popup-with-form.zakazat-zvonok(href="#test-form") У Вас остались вопросы?

					.text-center
						.btn-box
							a.btn Показать еще
			section.contacts
				.container
					h2#contacts Контакты
						br
						span нашей компании
					.text-center
						img.line(src="img/line.png", alt="")
					.row
						.col-sm-5.col-md-6
							figure
								h4 Сюда Вы можете позвонить и Вам всегда ответят: 
								img(src="img/phone.png", alt="")
								p 8 (905) 621-75-76
								h4 Сюда Вы можете отправить дополнительные 
									br.hidden-sm
									| документы или свое предложение:
								img(src="img/envelope.png", alt="")
								p info@strediar.ru
								h4 Сюда Вы можете приехать для личного общения 
									br.hidden-sm
									| и Вас напоят чаем с конфетами:
								img(src="img/placeholder.png", alt="")
								p г. Тула, Красноармейский проспект, д. 1, 
									br.hidden-sm
									| офис 30
						.col-sm-7.col-md-6
							.form-box
								h3.text-center Написать нам
								form
									input(type='hidden', name='project_name', value='Stredear')
									input(type='hidden', name='admin_email', value='Info@strediar.ru')
									input(type='hidden', name='form_subject', value='Заявка - Контакты')
									.row
										.col-md-6
											.form-item
												input(type="text", id="name2", name="Имя", required)
												label(for="name2") Ваше имя
										.col-md-6
											.form-item
												input.phone(type="text", id="phone2", name="Телефон", required)
												label.phone(for="phone2") Ваш телефон
										.col-md-12
											.form-item
												textarea(name="Сообщение", id="message2" required)
												label.message(for="message2") Ваше сообщение
											.personal
												input(type="checkbox", id="personal2", checked)
												label(for="personal2") Согласен(а) на 
													a.popup-with-politica(href="#politica") обработку персональных данных
											.text-center
												.btn-box
													button.btn Отправить сообщение
			.bg-footer
				.top-grey
				footer.site-footer
					.container
						.row
							.col-xs-6.col-md-3
								.logo
									img(src="img/logo.png", alt="")
							.col-md-6.hidden-sm.hidden-xs
								nav
									ul
										li
											a(href="#top") Главная
										li
											a(href="#repairs") Услуги
										li
											a(href="#prices") Цены
										li
											a(href="#portfolio") Портфолио
										li
											a(href="#contacts") Контакты
							.col-xs-6.col-md-3
								.phone
									.phone-number
										i.fa.fa-phone
										a.popup-with-form.hidden-xs.hidden-sm(href="#test-form") 8 (905) 621-75-76
										a.hidden-md.hidden-lg(href="tel:+79056217576") 8 (905) 621-75-76
									.work-time Работаем с 8:00 до 20:00
									a.btn.popup-with-form(href="#test-form") Заказать звонок
						.social
							.row
								.col-xs-6.col-sm-4
									.politica
										a.popup-with-politica(href="#politica") Политика конфендициальности
								.col-sm-4.hidden-xs
									.designed.text-center Designed by
										a(href="#")  Pecherits4
								.col-xs-6.col-sm-4.text-right.social-icons
									a(href="#", title="Вконтаке").class
										i.fab.fa-vk
									a(href="#", title="YouTube").class 
										i.fab.fa-youtube
									a(href="#", title="Instagram").class
										i.fab.fa-instagram
									a(href="#", title="Одноклассники").class 
										i.fab.fa-odnoklassniki

								.col-xs-12.visible-xs
									.designed.text-center Designed by
										a(href="#")  Pecherits4
		form#test-form.mfp-hide.white-popup-block
			input(type='hidden', name='project_name', value='Stredear')
			input(type='hidden', name='admin_email', value='Info@strediar.ru')
			input(type='hidden', name='form_subject', value='Заявка')
			input.cel(type='hidden', name='Цель', value='')
			h3.text-center Заказать звонок
			p.text-center Наш менеджер свяжется с Вами в ближайшее время
			.row
				.col-md-12
					.form-item
						input(type="text", id="name", name="Имя", required)
						label(for="name") Ваше имя
				.col-md-12
					.form-item
						input.phone(type="text", id="phone", name="Телефон", required)
						label.phone(for="phone") Ваш телефон
				.col-md-12
					.personal
						input(type="checkbox", id="personal" checked)
						label(for="personal") Согласен(а) на 
							a.popup-with-politica(href="#politica") обработку персональных данных
					.text-center
						.btn-box
							button.btn Отправить
		#politica.mfp-hide
			h2 Политика конфиденциальности
			p Настоящая Политика Конфиденциальности действует в отношении информации, которую вы, как пользователи, предоставляете во время использования сайта ООО «СТРЕДИАР», расположенному на доменном имени strediar.ru.
			h3 1. Какую информацию мы собираем
			p Оставляя заявку на сайте ООО «СТРЕДИАР», вы, в зависимости от цели обращения (получение бесплатной консультации, обратный звонок, сообщение в форме обратной связи), предоставляете нам следующие персональные данные:
				br
				| Имя;
				br
				|Телефон.
			p Также мы получаем данные о вашем IP-адресе, типе браузера, времени нахождения на сайте и другие сведения, предоставляемые сервисом статистики Яндекс.Метрика.
			p Предоставляя контактную информацию, убедитесь в её правильности и корректности. Если вы оставляете чужие персональные данные, то сперва получите разрешение от соответствующих лиц.
			h3 2. Как мы используем информацию
			p Все полученные данные мы используем исключительно для связи с вами и решения ваших вопросов.
				br
				| Имя — используется для обращения к вам;
				br
				| Телефон — используется для звонка.
			h3 3. Как мы защищаем персональную информацию
			p Мы обязуемся не разглашать персональные сведения, полученные от вас. Вся информация хранится в базе данных на сервере и нашем локальном компьютере. Доступы к серверу и компьютеру надёжно защищены паролями.
			h3 4. Предоставление информации третьим лицам
			p Мы гарантируем, что полученная от вас информация не будет передаваться третьим лицам, за исключением следующих случаев:
				br
				| В соответствии с обоснованными требованиями законодательства;
				br
				| Для исполнения всех обязательств перед вами — но только с вашего разрешения;
			h3 5. Как с нами связаться
			p Если у вас возникнут какие-то вопросы, связанные с сохранностью ваших персональных данных или связанные с работой сайта, обращайтесь к нам:
				br
				| Телефон: +7 (905) 621-75-76
				br
				| E-mail: info@strediar.ru
			
		#otpravleno.mfp-hide
			p.text-center Спасибо!
			p.text-center Ваше сообщение отправлено

		#otkaz.mfp-hide
			h3.text-center Предупреждение!
			p.text-center К сожалению мы не специализируемся на ремонте коммерческой недвижимости, но лучше проконсультируйтесь у нашего специалиста, возможно мы сможем Вам помочь
			.text-center
				.btn-box
					button.btn Продолжить

		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
		script(src='js/libs.min.js')
		script(src='js/common.js')